<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Add Book</title>
<link rel="stylesheet" type="text/css" href="..static/css/styles.css"
	th:href="@{/css/styles.css}" />
<script src="../../static/js/script.js" th:src="@{/js/script.js}"></script>
</head>
<body>
	<h1>Add a New Book</h1>
	<div id="error" class="error"></div>
	
	<form name="form" action="#" th:action="@{/admin/add-book}" method="post" onsubmit="return verifyBook()">
		<table>
			<tr>
				<td>Title:</td>
				<td><input type="text" name="title" autofocus="autofocus"/></td>
			</tr>
			<tr>
				<td>Author:</td>
				<td><input type="text" name="author" /></td>
			</tr>
			<tr>
				<td colspan="2"><input type="submit" value="Add Book"></td>
			</tr>
		</table>		
	</form><br>
	<form action="#" th:action="@{/logout}" method="post">
			<input type="submit" value="Logout">	
	</form><br>
	<a href="/">Back to index</a>
</body>
</html>