
.row{
	max-width: 90%;
	margin: 30px auto;
	overflow: hidden;
	display: flex;
	flex-direction: row;
    border-bottom: groove;
    padding-bottom: 30px;
}

.primary_aside{
	width: 20%;
	
	padding: 15px;
	
}

.secondary_aside{
	width: 20%;
	
	border-left: groove;
	padding: 15px;
	
}

.aside_image{
	width: 100%;
	vertical-align:top;
	border-style: solid;
	border-color: #D6D6D6;
}

.contents{
	width: 60%;
	padding: 15px;
}

.summary{
	list-style: none;
	padding: 0 3em 0 3em;
	margin: 0;
}

.summary li
{
	padding: 5px;
}

.button_container{
	display: block;
	padding: 3em;
	}

.btn_01, .btn_02{
	border: none;
	border-radius: 4px;
	font-weight: 600;
	font-size: 1.25rem;
	color: #fff;
	line-height: 1.28;
	padding: 0.5em 1em;
	text-align: center;
	background-color: #49599A;
}

.reviews{
	display:none;
}
.reviews.active{
	display: flex;
	padding: 2em;
}
#title{
	font-size: 30px;
	font-weight: bold;
}

@media screen and (max-width: 1210px) {
	.row
	{
	font-size: 15px;
	}
	
	#title{
	font-size:17px;}
}
@media screen and (max-width: 770px) {
	.row{
	margin: 0;
	}
	
	.row,
	.primary_aside,
	.secondary_aside,
	.contents{
	display: block;
	width: auto;
	margin: var(--item-space);	
	}
	
	.summary{
	display:none;
	}
	
}

