:root { 
	--navbar-text-color: #263343;
	--navbar-font-size: 20px;
	--navbar-bgcolor:#7986cb;
	--base-space: 8px 12px; 
	--item-space: 20px;
	--logo-color: #f0f4f5;
}


body {
	margin: 0;
	font-family: 'Roboto Slab', serif;
	background-color: #f0f4f5;
	height:100vh;
}

ul
 {list-style-type: none;}

a {
	text-decoration: none;
	color: var(--navbar-text-color);
	size: var(--navbar-font-size);
}

.header {
  padding: 60px;
  text-align: center;
  background: #49599a;
  color: white;
}

/********* navigation bar *******************/
.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--navbar-bgcolor);
	padding: 8px 12px;
}

.navbar_logo {
	font-size: 24px;
	color: #737373;
}

.navbar_icons li i, .navbar_logo i {
	color: var(--logo-color);
}

.navbar_icons, .navbar_menu {
	display: flex;
	list-style: none;
	padding-left: 0;
}

.navbar_menu li:hover {
	background-color: var(--logo-color);
	border-radius: 4px;
}

.navbar_icons li, .navbar_menu li {
	padding: var(--base-space);
}

.navbar_toggleBtn {
	display: none;
	position: absolute;
	right: 32px;
	font-size: 24px;
	color: var(--logo-color);
	
}

/********* index. html *******************/
.main_visual{
	position: relative;
/* 	background-color: #f0f4f5;
	color: #263343; */
	}
	
.main_content{
	display: flex;
    flex-direction: row;
	}
	
.mbox_01 {
	display: flex;
    flex-direction: column;
   
   	background-color: #f0f4f5;
   	color: #263343;
   	padding-left: 5em;
   	flex-basis: 55%;
}
.mbox_02{
	display:flex;
   	flex-basis: 45%;
   	padding-right: 5em;
}

.slide_wrapper{
	position: relative;
	width: 100%;
	height: 600px;
	margin: 0 auto;
	overflow:hidden;
}
.slides{
	position:absolute;
	max-height:100%;
	left:0; top:0;
	transition: left 0.5s ease-out;
	padding:0;
	margin:0;
	list-style: none;
}

.slides li:not(:last-child){
	float:left;
	margin-right:0px;
}

.dot {
  position: relative;
  bottom: 1.5em;
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot:hover {
  background-color: #717171;
}

.controls{
	margin-top: 50px;
	cursor: pointer;
	font-weight: bold;
	font-size: 2em;
	transition: 0.6s ease;
	color: #fff;
	border-radius: 0 3px 3px 0;
	bottom: 6em;
  	user-select: none;
}

.prev{
	position: absolute;
	left: 1em;
	bottom: 6em;
	padding: 13px;
}

.next{
	position: absolute;
	right: 1em;
	bottom: 6em;
	padding: 13px;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.mbox_01 h2{
/* 	display:flex;
	justify-content: space-between;
	margin-top:2em;
	margin-bottom:0.8em;
    padding-left:  var(--item-space); */
}


.main_books{
	display: flex;
   	flex-direction: row;
  	justify-content: flex-start;
  	padding-left: 0;
  /* 	margin:0 auto; 
    padding-left: 3em; */
    text-align: center;
    width:100%;
}


.main_books li {
	list-style: none;
	padding: 1em;	
}

.main_books img {
	width: 50%;
	margin: 0;	
}

#btn{
	background-color:green;
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
  float: none;
}

.my-calendar {
  width: 100%;
  display:flex;
  margin: 30px;
  padding: 20px 20px 10px;
  text-align: center;
  font-weight: 800;
  border: 1px solid #ddd;
  cursor: default;
}
.my-calendar .clicked-date {
  border-radius: 25px;
  margin-top: 36px;
  width: 42%;
  height: fit-content;
  padding: 46px 0 26px;
  background: #ddd;
}
.my-calendar .calendar-box {
  width: 58%;
  padding-left: 30px;
}

.clicked-date .cal-day {
  font-size: 24px;
}
.clicked-date .cal-date {
  font-size: 100px;
}

.ctr-box {
  padding: 0 16px;
  margin-bottom: 20px;
  font-size: 20px;
}
.ctr-box .btn-cal {
  position: relative;
  float: left;
  width: 25px;
  height: 25px;
  margin-top: 5px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background: none;
}
.ctr-box .btn-cal.cal-prev:after {
  content: '<'; 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  line-height: 25px;
  font-weight: bold;
  font-size: 20px;
}
.ctr-box .btn-cal.cal-next {
  float: right;
}
.ctr-box .btn-cal.cal-next:after {
  content: '>';
  font-weight: bold;
  font-size: 20px;
}

.cal-table {
  width: 100%;
}
.cal-table th {
  width: 14.2857%;
  padding-bottom: 5px;
  font-size: 16px;
  font-weight: 900;
}
.cal-table td {
  padding: 3px 0;
  height: 50px;
  font-size: 15px;
  vertical-align: middle;
}
.cal-table td.day {
  position: relative;
  cursor: pointer;
}
.cal-table td.today {
  background: #ffd255;
  border-radius: 50%;
  color: #fff;
}
.cal-table td.day-active {
  background: #ff8585;
  border-radius: 50%;
  color: #fff;
}
.cal-table td.has-event:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background: #FFC107;
}


/********* footer. html *******************/
.page-footer {
	text-align:right;
	background-color: var(--navbar-bgcolor);
	color: var(--navbar-text-color);
	
}


@media screen and (max-width: 770px) {
	.navbar {
		flex-direction: column;
		align-items: flex-start;
		padding: 8px 24px;
	}
	.navbar_menu {
		display: none; 
		flex-direction : column;
		align-items: center;
		width: 100%;
		flex-direction: column;
	}
	.navbar_menu li {
		width: 100%;
		text-align: center;
	}
	.navbar_icons {
		display: none; 
		justify-content: center;
		width: 100%;
	}
	.navbar_toggleBtn {
		display: block;
	}
	.navbar_menu.active, .navbar_icons.active {
		display: flex;
	}
	
	.clicked-date {
		display: none;
}



@media screen and (max-width: 420px) {
  .weekdays li, .days li {width: 12.5%;}
  .days li .active {padding: 2px;}
}

@media screen and (max-width: 290px) {
  .weekdays li, .days li {width: 12.2%;}
}
}

