<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments/header.html :: html-head">
<link href="../../static/css/detail.css" th:href="@{/css/bookList.css}"rel="stylesheet"></head>
<body>
	<header th:insert="fragments/header.html :: page-header"></header>

<section class="page-section">
	<div th:if="${message}" class="error">
		<h1 th:text="${message}">Message</h1>
	</div>
	<table border="1">
		<tr>
			<th>Title</th>
			<th>Author</th>
			<th>Image</th>
			<th>Reviews</th>
		</tr>
		<tr th:each="book : ${bookList}">
			<td th:text=${book.title}>Title</td>
			<td th:text=${book.author}>Author</td>
			<td><img src="#" th:src="@{${book.image}}" alt="book1" /></td>
			<td><a href="#" th:href="@{/viewBook/} + ${book.id}">View</a></td>
		</tr>
	</table>
	<br>
	<div sec:authorize="!isAuthenticated()">
		Log In <a th:href="@{/login}">here</a>.
	</div>
	
	<div sec:authorize="hasRole('ROLE_MANAGER')">
		<a href="#" th:href="@{/admin/new-book}">Add an Book</a>
	</div><br>
	
	<div sec:authorize="isAuthenticated()">
		<form action="#" th:action="@{/logout}" method="post">
		<label for="male">Hi <span sec:authentication="principal.username"/> Welcome Back! </label>
		<input type="submit" value="Logout">	
		</form>
	</div>
	</section>
	<div th:replace="fragments/footer.html :: page-footer"></div>
</body>
</html>