<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments/header.html :: html-head"></head>
<body>
	<header th:insert="fragments/header.html :: page-header"></header>
	<section class="overview">
		<h2>News</h2>
		<div>
			<ul class="news">
				<li><img src="../static/img/library1.jpg"
					th:src="@{/img/library1.jpg}" alt="lib1" />
				<li><h3>Province-wide shutdown and TPL</h3>
					<br> TPL branches are open for contactless holds pick-up and
					drop-off of materials only. All other services are not available at
					this time. Our services have been modified to align with the
					province-wide shutdown and expanded Grey-Lockdown restrictions in
					Toronto. Please check back here for updates and more information on
					available services.</li>
			</ul>
		</div>
	</section>
	<section class="page-section">
		<h2>Most Searched Books
		<span class=""><a href="#" th:href="@{/books}">
		 <i class="fas fa-angle-right">View
				All</i></a></span></h2>
	
		<ul class="main">
			<li><a href="#" th:href="@{/books}"> <img
					src="../static/img/book1.jpg" th:src="@{/img/book1.jpg}"
					alt="book1" /></a>
				<h5>The 7 Habits of Highly Effective People</h5></li>
			<li><a href="#" th:href="@{/books}"> <img
					src="../static/img/book1.jpg" th:src="@{/img/book1.jpg}"
					alt="book1" /></a>
				<h5>The 7 Habits of Highly Effective People</h5></li>
		</ul>
		
	</section>

	<div th:replace="fragments/footer.html :: page-footer"></div>
</body>
</html>