<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Log In</title>
<link rel="stylesheet" type="text/css" href="..static/css/styles.css"
	th:href="@{/css/styles.css}" />
</head>
<body>
	<h1>Enter your information to log in</h1>
	<div th:if="${param.error}" class="error">
		<p>Invaild username or password</p>
	</div>

	<div th:if="${param.logout}" class="error">
		<p>You are now logged out.</p>
	</div>
	
	<form action="#" th:action="@{/login}" method="post">
	<table>
			<tr>
				<td>Username:</td>
				<td><input type="text" name="username" autofocus="autofocus"/></td>
			</tr>
			<tr>
				<td>Password:</td>
				<td><input type="text" name="password" /></td>
			</tr>
			<tr>
				<td colspan="2"><input type="submit" value="Log In"></td>
			</tr>
		</table>	
	</form>
	<p>Not registered?<a href="/" th:href="@{/register}">Register here</a></p>
	<a href="/">Back to home</a>

</body>
</html>