<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>Log In</title>
<link rel="stylesheet" type="text/css" href="..static/css/login.css"
	th:href="@{/css/login.css}" />
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/036f0b4398.js" crossorigin="anonymous"></script>
</head>
<body>
	<section class="login-form">
	<h1>Welcome to you <i class="fas fa-door-open"></i></h1>
	<div th:if="${param.error}" class="alert alert-error">
		<p> ⚠️ Invaild username or password</p>
	</div>

	<div th:if="${param.logout}" class="alert alert-success ">
		<p>You are now logged out.</p>
	</div>
	
	<form action="#" th:action="@{/login}" method="post">
	<div class="int-area">
		<input type="text" name="username" id="id" autocomplete="off" required/>
		<label for="id">User Name</label>
	</div>
	<div class="int-area">
		<input type="text" name="password" id="pw" autocomplete="off" required/>
		<label for="pw">Password</label>
	</div>
	<div class="btn-area">
		<button type="submit" value="Log In">Log In</button>
			
		</div>	
	</form>
	<div class="caption">
	<a href="/" th:href="@{/register}">Not registered? Register here</a><br>
	<a href="/">Back to home</a>
	</div>
	</section>
</body>
</html>