<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" 
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>Registration Page</title>
<link rel="stylesheet" type="text/css" href="..static/css/styles.css"
	th:href="@{/css/styles.css}" />
<script src="../static/js/script.js" th:src="@{/js/script.js}"></script>
</head>
<body>
	<h1>Register Here</h1>
	<div id="error" class="error"></div>
	
	<div th:if="${message}" class="error">
		<p th:text="${message}">Message</p>
	</div>
	<form name="form" action="#" th:action="@{/addUser}"
		method="post" onsubmit="return verify()">
		<table>
			<tr>
				<td>Username:</td>
				<td><input type="text" name="userName" /></td>
			</tr>
			<tr>
				<td>Password:</td>
				<td><input type="text" name="password" /></td>
			</tr>
			<tr>
				<td><input type="hidden" name="authority"
					th:value="${authority}" th:id="${authority}"></td>
			</tr>
			<tr>
				<td colspan="2"><input type="submit" value="Register Now"></td>
			</tr>
		</table>
	</form>

	<br><br>
	<a href="/">Back to Index</a>
</body>
</html>

