<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" 
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>Registration Page</title>
<link rel="stylesheet" type="text/css" href="..static/css/register.css"
	th:href="@{/css/register.css}" />
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/036f0b4398.js" crossorigin="anonymous"></script>
<script src="../static/js/script.js" th:src="@{/js/script.js}"></script>
</head>
<body>
	<section class="register-form">
		<h1>Register Here</h1>
		<div id="error" class="alert alert-error">
		<p th:if="${message}" class="alert alert-success">
			<span th:text="${message}">Message</span>
		</p>
		</div>
	<form name="form" action="#" th:action="@{/addUser}"
		method="post" onsubmit="return verify()">
		<div class="int-area">
			<label for="id">User Name</label>
			<input type="text" name="userName" id="id" autocomplete="off" />
		</div>
		<div class="int-area">
			<label for="pw">Password</label>
			<input type="text" name="password" id="pw" autocomplete="off" />
		</div>
			<input type="hidden" name="authority"
			th:value="${authority}" th:id="${authority}">
		<div class="btn-area">
			<button type="submit" value="Register Now">Register Now</button>
		</div>
	</form>
	<div class="caption">
	<a href="/">Back to Index</a>
	</div>
	</section>
</body>
</html>

