<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments/header.html :: html-head"></head>
<link href="../../static/css/detail.css" th:href="@{/css/detail.css}"rel="stylesheet">
<script src="../../static/js/script.js" th:src="@{/js/script.js}" defer></script>
</head>
<body>
	<header th:insert="fragments/header.html :: page-header"></header>
	<div class="row">
		<div class="primary_aside">
			<img class="aside_image" src="#" th:src="@{${image}}" alt="book1" />
		</div>
		<div class="contents">
			<ul class="summary">
				<li id="title" th:text="${title}"></li>
				<li th:text="|Author ${author}|"></li>
				<li th:text="|${year}, ${types}, ${pages} ;|"></li>
				<li th:text="${description}"></li>
			</ul>
			<div class="button_container">
				<button class="btn_01">Borrow</button>
				<button class="btn_02">View reviews</button>
			</div>
			<div class="reviews">
				<div th:if="${reviews.empty}">
					<h2>No reviews yet. Be the first to review</h2>
				</div>
				<div th:unless="${reviews.empty}">
					<ul>
						<li th:each="review : ${reviews}" th:text="|✍   ${review.text}|">reviews</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="secondary_aside">
			<div sec:authorize="!isAuthenticated()">
				<p>Want to leave a review?</p>
				<a href="/login">Login here  <i class="fas fa-sign-in-alt"></i></a>
			</div>
			<div sec:authorize="isAuthenticated()">
				<a href="#" th:href="@{/new-review/} + ${id}">Add a review  <i class="fas fa-star"></i></a><br>
				<br>
				<form action="#" th:action="@{/logout}" method="post">
					<input type="submit" value="Logout">
				</form>
			</div>
			<br>
			<a href="/"> Back to home  <i class="fas fa-home"></i></a>
		</div>
	</div>
	<div th:replace="fragments/footer.html :: page-footer"></div>
</body>
</html>